[submodule "biogenel"]
    path = biogenel
    url = https://github.com/davidkartchner/GenBioEL.git

[submodule "sapbert"]
    path = sapbert
    url = https://github.com/davidkartchner/sapbert.git

[submodule "Ab3P"]
    path = Ab3P
    url = https://github.com/davidkartchner/Ab3P.git

[submodule "NCBITextLib"]
    path = NCBITextLib
    url = https://github.com/ncbi-nlp/NCBITextLib.git

[submodule "pubmed_xml_modified"]
    path = extract_pubmed_entities/pubmed_xml_modified
    url = https://github.com/davidkartchner/extract_pubmed_entities/pubmed_xml_modified.git