include LICENSE
include README.md
include pyproject.toml
include setup.py

recursive-include bioel/models/arboel/biencoder/model/special_partition *.pyx
recursive-include bioel/models/arboel/biencoder/model/special_partition *.pxd